.info__text {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 125px;
}

.info__text span {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 22px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.lio {
  position: absolute;
  width: 220px;
  top: 160px;
}
